*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Idea related stuff
/.idea/workspace.xml
/.idea/libraries
*.iml
*.ipr
*.iws

# Eclipse stuff
.project
.classpath

# Protobuffer generated class
/src/main/java/com/demo2do/entity/protocol/proto/

# Gradle stuff
/.gradle/
!/.gradle/wrapper/gradle-wrapper.jar
!/.gradle/wrapper/gradle-wrapper.properties

# Ignore logs
/logs/

# Ignore output
/out/
